@import url("https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css");
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.3/font/bootstrap-icons.css");
@import url("https://use.typekit.net/vxf5pom.css");
:root{
    --bs-primary: #094FA4 !important;
    --bs-blue: #094FA4 !important;
    --bs-sencondary:089ba3 !important;
}
.bg-primary{
    background: linear-gradient(180deg,#009ce5,var(--bs-primary)) !important;
}
.btn-primary{
    background: var(--bs-primary) !important;
}

.font-logo{
    color: #004ea8;
    font-size: 13px;
    font-family: myriad-pro,sans-serif;
    font-weight: 700;
    font-style: normal;
}
.font-logo div{
    line-height: 14px;
}